@font-face {
    font-family: 'Wocute';
    src:  url('fonts/Wocute.eot?62debg');
    src:  url('fonts/Wocute.eot?62debg#iefix') format('embedded-opentype'),
      url('fonts/Wocute.ttf?62debg') format('truetype'),
      url('fonts/Wocute.woff?62debg') format('woff'),
      url('fonts/Wocute.svg?62debg#Wocute') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Wocute' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-ic_video_line:before {
    content: "\e92c";
  }
  .icon-ic_pause_fill:before {
    content: "\e92f";
  }
  .icon-ic_mute_fill:before {
    content: "\e92d";
  }
  .icon-ic_volume_fill:before {
    content: "\e92e";
  }
  .icon-ic_retry_line:before {
    content: "\e925";
  }
  .icon-ic_file-error_line:before {
    content: "\e926";
  }
  .icon-ic_play_fill:before {
    content: "\e927";
  }
  .icon-ic_send_fill:before {
    content: "\e92b";
  }
  .icon-ic_at_line:before {
    content: "\e923";
  }
  .icon-ic_edit_fill:before {
    content: "\e924";
  }
  .icon-ic_id_fill:before {
    content: "\e91f";
  }
  .icon-ic_write_vote:before {
    content: "\e920";
  }
  .icon-ic_id_vote:before {
    content: "\e928";
  }
  .icon-ic_location_fill:before {
    content: "\e929";
  }
  .icon-ic_position_vote:before {
    content: "\e92a";
  }
  .icon-ic_menu_nav:before {
    content: "\e921";
  }
  .icon-ic_yes_line:before {
    content: "\e922";
  }
  .icon-ic_mores_line:before {
    content: "\e90d";
  }
  .icon-ic_comment_line:before {
    content: "\e912";
  }
  .icon-ic_forward_line:before {
    content: "\e913";
  }
  .icon-ic_like_line:before {
    content: "\e915";
  }
  .icon-ic_comments_fill:before {
    content: "\e91c";
  }
  .icon-ic_views_fill:before {
    content: "\e91e";
  }
  .icon-ic_close_fill:before {
    content: "\e90a";
  }
  .icon-ic_pregnant_fill:before {
    content: "\e91a";
  }
  .icon-ic_topic_line:before {
    content: "\e91b";
  }
  .icon-ic_vote_nav:before {
    content: "\e91d";
  }
  .icon-ic_set_line:before {
    content: "\e902";
  }
  .icon-ic_search_line:before {
    content: "\e900";
  }
  .icon-ic_reminder_nav:before {
    content: "\e905";
  }
  .icon-ic_pregnant_fill1:before {
    content: "\e919";
  }
  .icon-ic_pic_nav:before {
    content: "\e918";
  }
  .icon-ic_period_fill:before {
    content: "\e917";
  }
  .icon-ic_ovulation_fill:before {
    content: "\e916";
  }
  .icon-ic_noticet_line:before {
    content: "\e903";
  }
  .icon-ic_normal_fill:before {
    content: "\e914";
  }
  .icon-ic_more_horizontal_line:before {
    content: "\e906";
  }
  .icon-ic_keyboard_open_nav:before {
    content: "\e111";
  }
  .icon-ic_keyboard_nav:before {
    content: "\e90f0";
  }
  .icon-ic_keyboard_line:before {
    content: "\e90f";
  }
  .icon-ic_keyboard_close_nav:before {
    content: "\e90e";
  }
  .icon-ic_expression_nav:before {
    content: "\e90c";
  }
  .icon-ic_empty_fill:before {
    content: "\e90b";
  }
  .icon-ic_delete_line:before {
    content: "\e904";
  }
  .icon-ic_comment_line1:before {
    content: "\e9011";
  }
  .icon-ic_close_line:before {
    content: "\e907";
  }
  .icon-ic_calendar_line:before {
    content: "\e901";
  }
  .icon-ic_arrow_down_line-1:before {
    content: "\e908";
  }
  .icon-ic_arrow_down_line:before {
    content: "\e910";
  }
  .icon-ic_arrow_back_line-1:before {
    content: "\e909";
  }
  .icon-ic_arrow_back_line:before {
    content: "\e911";
  }
  